.footer {
    background-color: #36517e;
    height: 80px;
}
.footer > p {
    padding-right: 750px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

@media (max-width: 990px) {
    .footer {
        background-color: #36517e;
        height: 200px;
    }
    .footer > p {
        padding-right: 0;
        padding-top: 0;
        text-align: unset;
        color: white;
        padding-top: 100px;
        padding-left: 100px;
    }
}